<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <!-- <label for="name-movie" class="form-label">Insira o nome do filme</label> -->
            <input type="text" [(ngModel)]="nameMovie" class="form-control" id="name-movie" placeholder="Star Wars">
        </div>
        <div class="col-md-2">
            <button type="submit" [disabled]="!nameMovie" (click)="btnClicked()" class="btn btn-primary">Pesquisar</button>
        </div>
        <div class="col-md-2">
            <button type="submit" (click)="btnClear()" class="btn btn-secondary">Limpar</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <span>Resultados da pesquisa:</span>
        </div>
    </div>
    <div *ngIf="selectedMovie.Response === 'True'">
        <div class="row mt-4" *ngIf="selectedMovie">
            <div class="col-md-4">
                <img [src]="selectedMovie.Poster" />
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li>Título do Filme: {{ selectedMovie.Title }}</li>
                    <li>Ano: {{ selectedMovie.Year }}</li>
                    <li>Data de Lançamento: {{ selectedMovie.Released }}</li>
                    <li>Duração: {{ selectedMovie.Runtime }}</li>
                    <li>Diretor: {{ selectedMovie.Director }}</li>
                </ul>
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                      <h3 class="card-title text-center">Metascore</h3>
                      <mat-progress-spinner style="margin:0 auto;" [value]="selectedMovie.Metascore" mode="determinate"></mat-progress-spinner>
                      <h3 class="card-text text-center mt-3">{{ selectedMovie.Metascore }}/100</h3>
                    </div>
                </div>
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                      <h3 class="card-title text-center">Nota IMDb</h3>
                      <mat-progress-spinner style="margin:0 auto;" [value]="selectedMovie.imdbRating*10" mode="determinate"></mat-progress-spinner>
                      <h3 class="card-text text-center mt-3">{{ selectedMovie.imdbRating }}/10</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedMovie.Response === 'False'">
        <span>Filme não encontrado!</span>
    </div>
</div>